@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
body{
  font-family: "Times New Roman";
}


.add-to-cartu{
  border-radius: 30px;
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: red;
  border: 0;
  outline: none;
  margin:5px 5px;
}

.add-to-cartu a{
  color:white;
}


.add-to-cartu:hover{
  background: black;
}





.navbaru{
  position: fixed;
  top: 0;
  left:10px;
  width: 98%;
  display:flex;
  align-items: center;/* window k beach m krne k liye  vertically*/
  padding: 20px;/* all side se kitna niche hoga */
  /* background-color: yellow; */
/* border-radius is for sharp edge */

}


nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;

  list-style-type:none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;

}


.btnu a{
  text-decoration: none;
  color: white;
}

.navarc{
  text-decoration: none;/*underline hatane k liye lgte h or laga bi skte h */
  color: grey;
}

p{
  color: grey;
}

.container{
  max-width:1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.rowu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2u{
  flex-basis: 50px;
  min-width: 300px ;
}

.col-2u img{
  max-width: 100%;
  padding:50px 0;

}

.col-2u h1{
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  margin: 25px 0;
}

.btnu{
  display: inline-block;
  background-color: red;
  color:white;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 28px;
  transition: background 0.6s;
  outline:none;
}

.btnu:hover{
  background: black;
  color: white;
}

.headeru{
  background: radial-gradient(white,lightpink);
}

.headeru .rowu{
  margin-top: 70px;
}


.categories{
  margin:70px 0;
}
.col-3u{
  flex-basis:30%;
  /* all col will occupy 30% */
  min-width: 250px;
  margin-bottom: 30px;
  text-align:right;
}

.col-3u img{
  width:100%;
}


/* features products */


.small-containeru{
  max-width: 1080px;

  margin:auto;
  /* for center */
  padding-left: 25px;
  padding-right: 25px;

}

.col-4u{
  flex-basis: 25%;
  padding: 10px 40px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transforms 0.5s;
  text-align: center;
}

.col-4u img{
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  min-width: 200px;
  max-width: 200px;
}


/* latest products */


.titleu{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: grey;
}

.titleu::after{
  content: "";
  background: orange;
  width: 80px;
  height: 5px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: black;
  font-weight: normal;
  height: 90px;
  overflow:hidden;
}

.col-4u p{
  font-size: 14px;
}
.col-4u h4{
  font-size: 2px;
  font-weight: 800;
}

.rating .fa{
  color: orange;
}

.col-4u:hover{
  transform: translateY(-5px);
}

    /* offer */


 .offeru{
  background: radial-gradient(white,pink);
  margin-top: 80px;
  padding: 30px 0;
}

small{
  color: grey;
}


/* testimonial */



.testimonialu{
  padding-top: 100px;
}

.testimonialu .col-3u{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonialu .col-3u img{
  width:50px;
  margin-top: 20px;
  border-radius: 50%;

}

.testimonialu .col-3u:hover{
  transform: translatey(-10px);
}

.fa.fa-quote-left{
  font-size: 34px;
  color: orange;
}

center{
  font-size: 12px;
  margin: 12px 0;
  color: grey;
}

.testimonialu .col-3u{
  font-weight: 600;
  font-size: 16px;
}


/* -----------brands -----------*/
.brands{
  margin:100px auto;
}

.col-5u{
  width: 160px;
}

.col-5u img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5u img:hover{
  filter: grayscale(0);
}


/* -----footer------ */

.footerarc{
  text-decoration: none;/*underline hatane k liye lgte h or laga bi skte h */
  color:grey;
}


.footeru{
  background: black;
  color: darkgrey;
  font-size: 14px;
  padding: 60px 0 20px;

}

.footeru p{
  color: darkgrey;
}

.footeru h3{
  color: white;
  margin-bottom: 20px;
}

.footeru-col-1, .footeru-col-2, .footeru-col-3, .footeru-col-4{
  min-width: 250px;
  margin-bottom: 20px;

}

.footeru-col-1{
  flex-basis: 30%;
}

.footeru-col-2{
  flex: 1;
text-align: center;
}

.footeru-col-2 img{
  width:180px;
  margin-bottom: 20px;
}

.footeru-col-3, .footeru-col-4{
  flex-basis: 12%;
  text-align: center;

}

ul{
  list-style-type: none;
}

.app-logou{
  margin-top: 20px;
}

.app-logou img{
  width: 140px;
}

.footeru hr{
  border: none;
  background: pink;
  height: 1px;
  margin: 20px 0;
}

.copyrightu{
  text-align: center;
}

.menu-iconu{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* product details page css */

.productdetailpage{
  font-family: 'Playfair Display', serif;
  display: grid;
  background-color: #f4f4f4;
  align-content: center;
  min-height: 100vh;
}
.productname{
  text-align: center;
}

.productdetailsprice{
  text-align: left;
}

.productdetailsimage{
  padding-top: 10px;
}

.exploreproduct{
  margin-top: 20px;
}

.fa{
  color: #ff523b;
  margin-left:  10px;
}

.content p{
    padding-bottom: 15px;
    font-weight: 300;
    color: black;
    width: 60%;
    text-align: inherit;
    margin: 0 auto;
    line-height: 1.7;
}

.content .exploreproduct{
    text-transform: uppercase;

    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    /* text-align: center; */
}

.content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 100px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

/* contact page  */

.contactnameu{
  /* background-color: #55ffe5; */
  background: radial-gradient(white,#55ffe5);
  font-size: 14px;
  font-family: 'Poppins', 'sans-serif';
}
.contactnameu h1{
  font-weight: 600;

}

.containercontactu{
  width: 80%;
  margin: 50px auto 0 auto;
  margin-top: auto;
}

.headingdesc{
  color: grey;
  font-weight: 600;
}


.boxu{
  /* background-color: white; */
  display: flex;
}
.contact-leftu{
  flex-basis: 60%;
  padding:40px 60px;

}
.contact-rightu{
  flex-basis: 40%;
  padding:40px;
  font-family: 'Poppins','sens-serif';
  font-weight: bold;
}

.contactheading{
  /* margin-bottom: 10px; */
  margin-top: 70px;
  padding-top: 20px;
}

.containercontactu .headingdesc{
  margin-bottom: 40px;
}

.input-rowu{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-groupu{
  flex-basis: 45%;
}

.contactinputu{
  width:100%;
  border:none;
  border-bottom: 1px solid gray;
  outline: none;
  padding-bottom: 5px;
  background: bottom;
}

textarea{
  width: 100%;
  border: 1px solid grey;
  outline:none;
  padding:10px;
  box-sizing: border-box;
  background: bottom;
}

.input-groupu label{
  margin-bottom: 6px;
  display: block;
  color: blue;
}

.sendbuttonu{
  background: blue;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
  text-align: center;
}

.sendbuttonu:hover{
  background: black;
  /* must be declare <!doctype to use hover */
  /* used to select elements when you mouse over them */
}

.contact-leftu h3{
  color: blue;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-rightu h3{
  font-weight: 400;
  margin-bottom: 30px;
}

.tru td:first-child{
  padding-right: 20px;
}

.tru td{
  padding-top: 10px;
}

/* product page */

select{
  cursor: pointer;
}

.cat-formu{
  display: inline;
}

.cat-btnu{
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  display: inline-block;
  color: white;
  width: auto;
  background-color: red;
  border: 0;
  outline: none;
  margin:5px;
}

.cat-btnu:hover{
  background: black;
  /* must be declare <!doctype to use hover */
  /* used to select elements when you mouse over them */
}


option{
  text-align: center;
  cursor: pointer;
}

.small_containeru h2{
  font-weight: bold;
}
.small_containeru h4{
  font-weight: 600;
}

.small_containeru{
    max-width: 1000px;
    margin:0 auto;

        font-family: 'Poppins','sens-serif';
}


.col4forproductpage{
    transition: .5s;
    flex-basis: 25%;
    min-width: 200px;
    margin: 50px 0px;
    padding: 0px 16px;
    text-align: center;
}

.col4forproductpage img{
    width: 100%;
    margin: 0 10px;
    max-height: 350px;
    min-height: 350px;
    min-width: 200px;
    max-width: 200px;
    /* max-height,min-height needs to be same to maintain the height of all image */
    /* max-weight , min-weight needs to be same to maintain the width of all image to be */
}

/* --------all products page start-------- */
.prdname{
    height: 70px;
    overflow: hidden;
}

.row_2u{
    justify-content: space-between;
    margin: 50px auto 20px;
}

.row_2u h2{
  margin-top: 20px;
}

.page_btn{
    margin:0 auto 80px;
}

.page_btn span{
    /* border: 2px solid gray; */
    display: inline-block;
    padding: 2px 10px;
    transition: .5s;
    cursor: pointer;
    background-color: red;
    color:white;
    outline: 0;
    border-radius: 2px;
    margin: 0 3px;
}

.page_btn span:hover{
    background: black;
    /* color: #fff; */
    border-radius: 5px;
}

.col4forproductpage p{
  font-size: 14px;
}

.rating .fa{
  color: orange;
}

.col4forproductpage:hover{
  transform: translateY(-5px);
  /* it will move by 5px in y axis upr ki side becoz of minus*/
}

#menuitems a{
  text-decoration: none;/*underline hatane k liye lgte h or laga bi skte h */
  color: black;
}

/* cart page */
body .cart-pageu{
	font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
}

body .total-priceu{
	font-family: 'Montserrat', sans-serif;
}

.cart-pageu{
	margin: 80px auto;
	max-width: 1080px;

  margin:auto;
  /* for center */
  padding-left: 25px;
  padding-right: 25px;
}

.cartproductnameu{
 height: 90px;
 overflow: hidden;
 width: 50vw;
}

.carttableu{
	width: 100%;
	border-collapse: collapse;
}
.carttableu .theadu{
  font-family: "Times New Roman";
  font-size: 16px;
}
.carttableu tbody p{
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 32px;
  color: black;
}
.cartpriceu{
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 25px;
  color: black;
}

/* .cart-info img{
	width:25%;
	height: 20%;
} */

.cart-infou{
	display: flex;
	flex-wrap: wrap;
	/* font-size: 50px; */
}

.cartth{
	text-align: left;
	padding: 5px;
	color: white;
	background:#ff523b;
	font-weight: normal;
}
.carttd{
	padding: 10px 5px;
}

.carttd input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
.carttd a{
	/* color: orange; */
	font-size: 12px;
}
.carttd img{
		width: 180px;
		height: 180px;
		margin-right: 10px;
}
.total-priceu{
	display: block;
	/* justify-content: space-around; */
  margin: 80px auto;
	max-width: 1080px;

  /* margin:auto; */
  /* for center */
  /* padding-left: 25px; */
  /* padding-right: 25px; */
}

.total-priceu table{
	border-top: 5px solid orange;
	width:100%;
	min-width: 370px;
  /* margin: 0 25px 0 25px; */
}
.carttd:last-child{
	text-align: right;
}

.cartth:last-child{
	text-align: right;
}

button{
  border: 1px solid #ef4478;
  padding: 4px 14px;
  background-color: red;
  /* text-transform: uppercase; */
  /* float: left; */
  margin: 5px 0;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 50px;
  text-align:left;
  /* margin-left: -50%; */
}
.buttonu{
  font-size: 12px;
  color: white;
  font-weight: 300;
  font-family: 'Roboto Condensed', 'sans-serif';

}
.paymentu{
  font-size: 12px;
  color: white;
  font-weight: 300;
  font-family: 'Roboto Condensed', 'sans-serif';
  float: right;
}

button:focus{
    outline: none !important;
}

button:hover{
  background-color: black;
}

.productname{
	display: block;
}
.paymentu .pay{
	/* background-color: red; */
	color:white;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.paymentu:hover{
	background-color: black;
}



/* ------------media query for menu---------- */
@media only screen and (max-width:800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li .navarc{
      color: white;
  }

  .yes{
    display: block;
    cursor: pointer;
  }
  .no{
    display: none;
  }
  .menu-iconu{
    display: block;
    cursor: pointer;
  }
}


/* media query for less than 600 screen size */

@media only screen and (max-width:600px){
  .rowu{
    text-align: center;
  }
  .col-2u,.col-3u,.col4forproductpage,.col-4u{
    flex-basis: 100%;
  }
  h4{
  height: 70px;
  overflow:auto;
  }
  .content {
      /*height: 100;*/
      margin:100px 30px;
      text-align: center;
      flex-basis: 100%;
  }
  .content h2{
      margin-top: 50px;
  }
  .content p{
      text-align: left;
  }
  .input-groupu{
   padding: 10px;
 }
 .boxu{
   flex-direction: column;
   align-content: space-around;
 }
 #name{
   width: 100px;
 }
 #phone{
   width: 100px;
 }
 #email{
   width: 100px;
 }
 #subject{
   width: 100px;
 }
 textarea{
   width: 250px;
 }
 .contact-leftu{
   padding: 40px 20px;
 }
 .row_2u h2{
   text-align: left;
 }

 select{
   cursor: pointer;
   text-align: left;
 }
 .prdname{
   height: 70px;
   overflow: auto;
}
/* cart page */
.rowu,.cart-pageu{
  text-align: center;
  /* all the content will come in center for moblie less than 600px */
}
/* .col-2,.col-3,.col-4,.container{
  flex-basis: 100%;
} */
/* .main{
  flex-direction: column;
} */
.cartproductnameu{
  height: 70px;
  overflow: auto;
}
}
